body {
    background-image: url(../img/Background@1X.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Arimo', sans-serif;
    color: #484848;
    font-size: 21px;
    min-width: 800px;
    max-width: 1200px;
}

main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    border-collapse: collapse;
    width: 95%;
    height: 95%;
    table-layout: fixed;
    margin: auto;
    box-sizing: border-box;
    text-transform: uppercase;
    text-align: center;
}

table td {
    border-right: solid 2px #e3e3e3;
    box-sizing: border-box;
    padding: 25px;
    background-color: #fafafa;
}

thead {
    font-weight: bold;
}

.cy {
    font-size: 1.1rem;
}

.pp {
    font-size: 2rem;
}

.row11 {
    width: 30%;
}

.row12 {
    background-color: #89c331;
    color: #ffffff;
    font-size: 1.5rem;
}

.row13 {
    background-color: #f04a56;
    color: #ffffff;
    font-size: 2rem;
}

.row14 {
    background-color: #20807c;
    color: #ffffff;
    font-size: 1.5rem;
}

.two td {
    padding: 15px;
}

.price {
    display: inline-block;
    font-size: 3.8rem;
}

.month {
    display: inline-block;
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.month span {
    font-weight: normal;
    font-size: 1.1rem;
}

.four td, .six td, .eight td {
    background-color: #f2f2f2;
    font-size: 1rem;
    color: #888888;
}

.five td, .seven td, .nine td {
    background-color: #e3e3e3;
    font-size: 1rem;
    color: #888888;
}

.four td:nth-child(1)::before {
    content: url(../img/storage.png);
    position: relative;
    right: 0.7rem;
    top: 0.2rem;
}

.five td:nth-child(1)::before {
    content: url(../img/Bandwidth.png);
    position: relative;
    right: 0.7rem;
    top: 0.2rem;
}

.six td:nth-child(1)::before {
    content: url(../img/Email.png);
    position: relative;
    right: 0.7rem;
    top: 0.2rem;
}

.seven td:nth-child(1)::before {
    content: url(../img/support.png);
    position: relative;
    right: 0.7rem;
    top: 0.2rem;
}

.eight td:nth-child(1)::before {
    content: url(../img/products.png);
    position: relative;
    right: 0.7rem;
    top: 0.2rem;
}

.nine td:nth-child(1)::before {
    content: url(../img/users.png);
    position: relative;
    right: 0.7rem;
    top: 0.2rem;
}

.three a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #ffffff;
    width: ;
}

a.grey {
    background-color: #484848;
    box-shadow: #404040 0px 5px;
}

a.green {
    background-color: #89c331;
    box-shadow: #79b027 0px 5px;
}

a.red {
    background-color: #f04a56;
    box-shadow: #df3a46 0px 5px;
}

a.dark-green {
    background-color: #20807c;
    box-shadow: #16736f 0px 5px;
}

.bt a.green, .bt a.red, .bt a.dark-green {
    padding: 10px 34px;
    border-radius: 8%;
}

.bt a.grey {
    padding: 10px 15px;
    border-radius: 8%;
}
.three td:hover{
    background-color: #dddddd;
}